.navbarWrapper {
    /* margin: 0 auto; */
    /* width: 500px; */
    min-height: 150px;

}

.logoContainer {
    /* margin: 0 auto; */
    /* width: 500px; */
    min-height: 150px;
    /* max-width: 1100px; */
    
}

.logo {
    font-size: xx-large;
    font-weight: bold;
    transition-duration: 0.4s;
}

.logo:hover {
    color: rgb(153, 147, 147);
    text-decoration: underline;
}