.newsTitleWrap {
    color: black;
    padding: 5px;
    font-size: 5pt;
    max-width: 1320px;
}

.commentTitle {
    color: black;

    padding: 5px;
    font-size: medium;
    background-color: rgb(173, 173, 173);
    max-width: 1320px;
    transition-duration: 0.3s;
}

.mainWrapper {
    margin: 15px auto;
    max-width: 1320px;
    border: 1px solid black;
}

.mainWrapper:hover .commentTitle {
    background-color: rgb(128, 126, 126);
}

.linkDecoration {
    text-decoration: none;
}

.buttonWrapper {
    margin: 15px auto;
    max-width: 1320px;
}

.buttonWrapper :hover {
    background-color: rgb(128, 126, 126);
}

.buttonStyle {
    min-width: 150px;
    border-radius: 4px;
    transition-duration: 0.3s;
}